* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Star Jedi', arial;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.36;
    color: #fff;
    background-image: url('/project/images/background.jpg');
    background-size: cover;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1248px;

}

.logo {
    height: 120px;
    width: 250px;
    margin: 20px auto;

}

.message {
    margin: 20px auto;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
}

.popup_bg.active { 
    opacity: 1; 
    pointer-events: all; 
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background: #fff;
    color: #000;
    text-shadow: 4px 4px 4px #aaa;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}

.popup__header {
    font-size: 20px;
}

.popup.active { 
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    right: 20px;
    top: 30x;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.5; 
}

.close-popup:hover {
    opacity: 1;
  }
  .close-popup:before, .close-popup:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 30px;
    width: 2px;
    background-color: #FFE300;
  }
  .close-popup:before {
    transform: rotate(45deg);
  }
  .close-popup:after {
    transform: rotate(-45deg);
  }



